fieldset{
    border: 1px solid gray;
    width: 50%;
    margin: auto;
    border-radius: 10px;
}
legend{
    background-color: gray;
    color: white;
    padding: 5px;
    border: 1px solid sandybrown;
    border-radius: 10px;
}
div{
    margin: 10px 0px;
}
label{
    font-family: Comic Sans MS;
    color: gray;
    display: block;
}
input[type="text"],
input[type="email"],
input[type="tel"],
select,
input[type="password"],
input[type="date"],
input[type="time"],
input[type="color"],
input[type="range"]{
    width: 50%;
    height: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    outline: none;
    margin: 5px 2px;
}
span{
    font-family: Comic Sans MS;
    margin-right: 50px;
    color: gray;
}

input[type="submit"],
input[type="reset"]{
    margin: 10px 50px;
    width: 100px;
    height: 30px;
    background: linear-gradient(45deg,red,salmon);
    border: 2px solid goldenrod;
    border-radius: 10px;
}

input[type="submit"]:hover,
input[type="reset"]:hover{
    width: 120px;
    height: 40px;   
}













