.class_1{
   color: red;
   border: 1px solid gray;
}
.class_2{
  color: green;
  border: 1px dotted red;
}
.class_3{
  color: yellowgreen;
  border: 1px double olive;
}
.class_4{
    color: salmon;
    border: 1px solid green;
}
.class_5{
    color: blue;
    border: 1px dotted red;
}
.class_6{
    color: brown;
    border: 1px double yellowgreen;
}






